.header {
  background: linear-gradient(to left, #f7f7f9, #8f94a2, #474857);
  padding: 10px;
  position: fixed;
  z-index: 1020;
  width: 100%;
  top: 0;
}

.header .brand {
  color: white;
  margin: 0;
}

.header .brand-icon {
  color: white;
  padding-right: 5px;
}
